html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Start of Basic styling for the product card */
.product-card {
    width: 250px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 10px;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.product-price {
    color: green;
    text-align: left;
}

/* End of Basic styling for the product card */
